
<web-app>  
  <welcome-file-list>NewFile.html</welcome-file-list>
<servlet>  
<servlet-name>VoterCriteria</servlet-name>  
<servlet-class>sidhu.servlets.VoterCriteria</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>VoterCriteria</servlet-name>  
<url-pattern>/voter</url-pattern>  
</servlet-mapping>  
  

<servlet>  
<servlet-name>ServletLogin</servlet-name>  
<servlet-class>sidhu.servlets.ServletLogin</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>ServletLogin</servlet-name>  
<url-pattern>/log</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>Registar</servlet-name>  
<servlet-class>sidhu.servlets.Registar</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Registar</servlet-name>  
<url-pattern>/login</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>RegisterUser</servlet-name>  
<servlet-class>sidhu.servlets.RegisterUser</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>RegisterUser</servlet-name>  
<url-pattern>/logged</url-pattern>  
</servlet-mapping> 

<servlet>  
<servlet-name>Inbox </servlet-name>  
<servlet-class>sidhu.servlets.Inbox</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>Inbox</servlet-name>  
<url-pattern>/inbox</url-pattern>  
</servlet-mapping> 

</web-app>